{% load static %}
<html>
    <head>
        <title>Augsd Project</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'augsdapp/homepage.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&subset=greek,cyrillic" rel="stylesheet" type="text/css">
    </head>
<body>
	<h1>Homepage</h1>
    <p><a href="{% url 'AddCourse' %}">Add Course</p>
    <p><a href="{% url 'DeleteCourse' %}">Delete Course</p>
    <p><a href="{% url 'ModifyCourse' %}">Modify Course</p>
</body>
</html>
