{% load static %}
{% load crispy_forms_tags %}

<head>
        <title>Augsd Project|MddifyCourse</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'augsdapp/main.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&subset=greek,cyrillic" rel="stylesheet" type="text/css">
</head>
<body>
{% block content %}
<h1><b>Modify Course</b></h1>
<br/>
<form  method="GET" value="{{request.GET.q}}">
Search <input type="text" name="q" value="{{request.GET.q}}" placeholder="Search Course"/>
<input type="submit" name="submit" value="Search"/>
</form>

{% if submitbutton == 'Search' and request.GET.q != '' %}
{% if results %}
<h1>Results for <b>{{ request.GET.q }}</b></h1>
<br/><br/>

{% for result in results %}

<b>CouseName </b> - 
{{result.courseName}}
<br/>
<b>Instructor Incharge </b> - 
{{result.courseIC}}
<br/>
<b>MidSem Date Time </b> - 
{{result.midsemDateTime}}
<br/>
<b>Comprehensive Date Time </b> - 
{{result.compreDateTime}}
<br/>
<br/>
{% endfor %}
{% else %}
No search results for this query
{% endif %}
{% endif %}

<button type="submit" class="save btn btn-default" name="Modify">Modify Course</button>

{% endblock content %}

</body>