{% extends "augsdapp/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
Add Section
{% endblock %}

{% block content %}
<div class="container AddSectionForm">
   <h1 class="heading"> Update Section |{{section.name}}</h1>
	<form method="POST" class="AddSectionForm">
        {% csrf_token %}
        {{ form|crispy}}
        <button type="submit" class="btn btn-primary">Add Section</button>
        {% if messages %}
			<ul class="messages">
    		{% for message in messages %}
    			<li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
    		{% endfor %}
			</ul>
		{% endif %}
    </form>
</div>
{% endblock content %}